@use './variables' as *;
@use './fonts' as f;
@use './buttons' as btn;
@use './respond' as *;

.foot {
    background: $foot-black;
    padding: 30px 0 16px;

    @include respond(lg) {
        padding: 0;
    }
    
    .ft {
        width: 318px;

        @include respond(lg) {
            width: 1196px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 59px;
        }

        .social {
            margin: 27px 0 0;
            display: flex;
            @include btn.social_btn ($cu-cyan);

            @include respond(lg) {
                margin: 0;
            }
        }
    }
}

.f-middle {
    background: $cu-cyan;
    height: 59px;
}

.f-end {
    background: $foot-end;
    text-align: center;
    padding: 15px 0;
    h4 {
        margin: 0 auto;
        width: 202px;
        color: $foot-h4;
        font-family: f.$open;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: .75px;
        line-height: 25px;

        @include respond(lg) {
            width: 100%;
        }
    }
}