@use './variables' as *;
@use './buttons' as btn;
@use './fonts' as f;
@use './respond' as *;

.sec4 {
    background: $bg-black;
    color: white;
    text-align: center;
    padding: 46px 0 58px;

    @include respond(lg) {
        padding-bottom: 0;
    }

    h1 {
        font-family: f.$roboto;
        font-weight: 500;
        font-size: 45px;

        @include respond(lg) {
            font-size: 60px;
        }
    }
    hr {
        margin: auto;        
        margin-top: 21px;
        width: 111px;
        border: 2px solid $cu-cyan;
        opacity: 1;

        @include respond(lg) {
            margin-top: 22px;
            width: 132px;
        }
    }
    p {
        margin: 70px auto 0;
        font-family: f.$open;
        font-size: 20px;
        line-height: 45px;
        opacity: .8;
        width: 318px;

        @include respond(lg) {
            margin: 44px auto 0;
            width: 100%;
            max-width: 1196px;
        }
    }
    .sec4-cards {
        margin: 37px auto 0;
        width: 318px;

        @include respond(lg) {
            width: 100%;
            margin: 109px 0 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            // grid-template-rows: 1fr 1fr;
        }

        .card1 {
            position: relative;

            .dsk {
                width: 100%;
            }

            button {
                @include btn.sec4_btn($btn-black);
            }

        }
        .card2 {
            @extend .card1;

            button {
                @include btn.sec4_btn($btn-black);
            }
        }
        .card3 {
            @extend .card1;

            button {
                @include btn.sec4_btn($btn-black);
            }
        }
        .card4 {
            @extend .card1;

            button {
                @include btn.sec4_btn($btn-black);
            }
        }
    }
}