$cu-cyan: #5EB6E1;
$cu-orange: #FF6C2C;
$cu-purple: #945B9F;
$text-black: #292F39;
$text-grey: #9E9E9E;
$bg-black: #222224;
$bg2-black: #181A1F;
$btn-black: rgba(19, 26, 27, 0.58);
$foot-black: #19191C;
$foot-end: #24272E;
$foot-h4: rgba(246, 247, 251, 0.61);
$arrow-cyan: #17DFFE;